{% extends 'base.html' %}
{% block conteudo %}

<style>
  .alert{

  }
  
</style>

<div class="text-center" style="margin-bottom:50px;">
  <img src="https://docs.google.com/uc?id=1HLq96xtmTpEJH7FnF_ErbJDp3hB8jIaZ" class="img-fluid" alt=""/>
</div>


<form id="forms1" style="margin-left: 10%; margin-right: 10%;" action="/fale_conosco/send" method="POST">
    <!-- 2 column grid layout with text inputs for the first and last names -->

        <div class="form-outline mb-4" style="background-color: white;">
          <input type="text" id="form6Example1" class="form-control" name="nome" required/>
          <label class="form-label" for="form6Example1">Nome</label>
        </div>

  
    <!-- Text input -->
    <div class="form-outline mb-4" style="background-color: white; max-width: 30%;">
      <input type="text" id="form6Example2" class="form-control" name="telefone" required/>
      <label class="form-label" for="form6Example2">Telefone</label>
    </div>
  
    <!-- Email input -->
    <div class="form-outline mb-4" style="background-color: white;">
      <input type="email" id="form6Example5" class="form-control" name="email" required/>
      <label class="form-label" for="form6Example5">Email</label>
    </div>
  
    <!-- Number input -->
    <select class="form-select" aria-label="Default select example" style="margin-bottom: 2%;" name="setor" required>
        <option selected>Falar com qual Setor</option>
        <option value="Coord">Coordenadores e SOE</option>
        <option value="Dir">Direção</option>
        <option value="Tecs">Escola Técnica</option>
        <option value="Fac">Faculdade</option>
        <option value="Setape">Setape</option>
        <option value="Sec">Secretaria de Atendimento</option>
    </select>
  
    <!-- Message input -->
    <div class="form-outline mb-4" style="background-color: white;">
      <textarea class="form-control" id="form6Example7" rows="4" name="mensagem" required></textarea>
      <label class="form-label" for="form6Example7">Mensagem</label>
    </div>
  
  
    <!-- Submit button -->
  <div class="text-right">
      <button type="submit" class="btn btn-primary mb-4" style="max-height: 40px; max-width: 200px;">Enviar Mensagem</button>

  </div>
  </form>

  {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
        <div class="d-flex justify-content-end" style="top: 10%;">
          <div id="alert" class="alert alert-success alert-dismissible fade show" role="alert" style="width: 200px; height: 50px; margin-right: 10%;">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <p style="font-size: small;"> <i class="far fa-check-circle"></i> {{message}} <span aria-hidden="true">&times;</span></p>
          </div>
        </div>
        {% endfor %}
      {% endif %}
  {% endwith %}
    



{% endblock conteudo %}